@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Montserrat:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

:root {
  /*typography*/
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --fs-base: 16px;
  --fs-normal: 18px;
  --fs-bold: 48px;
  --weigth-light: 300;
  --weigth-regular: 400;
  --weigth-medium: 500;
  --weigth-bold: 700;
  --weigth-black: 900;

  /* color */
  --light-text: #e4e5ea;
  --dark-gray: #656566;
}

body {
  margin: 0;
  font-family: var(--font-inter);
  font-weight: var(--weigth-medium);
  font-size: var(--fs-base);
  color: var(--light-text);
  background: #1e1e1e;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.header {
  display: flex;
}
.logo_weblex {
  max-width: 140px;
}
.logo_weblex_text {
  font-family: var(--font-montserrat);
  font-weight: var(--weigth-light);
  font-size: 10px;
}

.menu {
  display: flex;
  align-items: center;
  padding-left: 52px;
  padding-right: 137px;
}
.menu a {
  text-decoration: none;
  color: var(--light-text);
}

.menu a:not(:last-child) {
  padding-right: 30px;
}
.contacts img {
  display: block;
}
.contacts {
  display: flex;
  align-items: center;
}
.contacts div:first-child {
  padding-right: 48px;
}

.contacts img:not(:last-child) {
  padding-right: 34px;
}
